/* General styles */
* {
    box-sizing: border-box;
    background-color: inherit;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}
body {
    background-color: black;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
}

#main-window,
#main-window > * {
    margin: 5px auto;
    padding: 0;
    width: max-content;
}
#main-window {
    margin: auto;
}
#customField-dialogue, #highscores-dialogue {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: max-content;
    width: max-content;
}

.block,
#field td {
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-left: 4px solid #808080;
    border-top: 4px solid #808080;
    background-color: #C0C0C0;
}

#js {
    display: inline-block;
    background-color: yellow;
    color: black;
    padding: 20px 5px 2px 20px;
    margin: 5px;
    border-radius: 2px;
}

input {
    background-color: white;
    color: black;
}

#menu {
    display: flex;
    width: 100%;
    height: max-content;
    padding: 0;
    font-size: 0; /* Remove whitespace between divs due to \n and inline-block */
}
#menu > * {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
    margin: 0;
    text-align: center; 
}
#menu > *:first-child, #menu > *:last-child {
    width: 40%;
}

#menu > *:first-child {
    float: left;
    text-align: left;
}
.close {
    float: right;
}

/* Dropdown */
#dropdown-btn {
    padding: 2px 2px 3px;    
}

.bar1, .bar2, .bar3 {
    width: 36px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

#dropdown-content {
    position: absolute;
    flex-direction: column;
    padding: 5px;
    z-index: 1;
    font-size: initial;
    margin-top: 3px;
}

#dropdown-content > * {
    display: block;
    width: 100%
}

#dropdown-content > a:hover, #dropdown-content > button:hover > strong {
    text-decoration: underline;
}

/* Reset button */
#reset-button {
    height: auto;
    max-width: max-content;
}
#reset-button > img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/* Counters */
#counters {
    border: 1px inset lightgrey;
    width: max-content;
    float: right;
    height: 100%;
    padding: 2px;
}
#counters * {
    height: auto;
    max-width: 100%;
}
#digits {
    background-color: transparent;
    background-image: url('assets/counter/timer.png');
    background-size: cover;
    width: max-content;
}

#timer > *, #flags > * {
    width: 100%;
    margin: 0 1px;
}

/* Custom Field */
#customField-dialogue > form > div {
    display: flex;
    flex-flow: row nowrap;
}
#customField-dialogue > form > div > div {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    align-items: flex-start;
}

#customField-dialogue button {
    padding: 10px;
    margin-top: auto;
    width: 100%
}

/* Highscores */
#highscores-dialogue {
    padding: 3px;
    width: max-content;
}
#highscores-dialogue th {
    border-bottom: 2px solid darkgrey;
}

#col-name {
    width: 15rem;
}
#highscores-dialogue > button {
    float: right;
    padding: 3px;
}

/* Playing Field */
#field td {
    width: 30px;
    height: 30px;
}
#field table {
    border-spacing: 0;
}

#field td > p, .mine_img {
    display: none;
    vertical-align: middle;
}

.flag_img {
    display: none;
    vertical-align: middle;
}

.flagged > .flag_img {
    display: inline;
}

#field td.hoverable:hover, #field td.clicked {
    border: 1px solid grey;
}

#field td.clicked > p, #field td.clicked > .mine_img {
    display: inline;
    color: inherit;
    font-weight: bold;
}

#field ._1 {
    color: blue;
}

#field ._2 {
    color: green;
}

#field ._3 {
    color: red;
}

#field ._4 {
    color: darkblue;
}

#field ._5 {
    color: brown;
}

#field ._6 {
    color: cyan;
}

#field ._7 {
    color: black;
}

#field ._8 {
    color: grey;
}
